*{
   box-sizing: border-box;
}

:root {
    --accent: #bab86c;
    --hover: #ba6c6e;
}

body {
    margin: 0;
    padding: 0;
    background-color: beige !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }

  /* Nav bar */

.navbar .container-fluid {
    position: relative;
    width: 100%;
    background-color: var(--accent);
}

.nav-item a {
    color: white !important;
    font-size: x-large;
}

.dropdown-menu {
    border-radius: 0%;
}

.dropdown-menu a {
    color: black !important;
    font-size: large;
}

.nav-item a:hover {
    background-color: var(--hover);
}

/*Title*/
.title {
    text-align: center;
}

.title h1 {
    text-shadow: 3px 2px 2px var(--hover);
}

/*jumbotron section*/ 

.jumbotron .container-fluid .row .card {
    height: 400px;
    border-radius: 0%;
    border: solid beige 10px;
    background-color: #bab86c;
    text-align: center;
}

.jumbotron .container-fluid .row .card h2 {
    padding: 40px;
    font-size: x-large;
}

.jumbotron .container-fluid .row .card p {
    font-size: large;
    padding: 10px;
}

.heroImage img {
    max-height: 100%;
    max-width: 100%;
}

/*work section*/

.work h2{
    font-size: x-large;
    padding: 20px;
}

.work .container-fluid .row .card {
    background-color: beige;
    height: 500px;
    border-radius: 0%;
    border: var(--accent) 10px solid;
}

.work .container-fluid .row .card img {
    max-height: 75%;
    object-fit: contain;
    padding-top: 10px;
}

.card-body a {
    border: var(--accent) solid 0.5px;
    background-color: white;
    border-radius: 0%;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: medium;
}

.card-body a:hover {
    box-shadow: 2px 2px 5px var(--hover);
}

/*skills section*/

h2 button {
    font-size: x-large !important;
    background-color: var(--accent) !important;
    color: white !important;
}

h2 button:hover {
    box-shadow: 2px 2px 5px var(--hover);
}

.data-bs-toggle {
    color: white;
}

#flush-collapseOne {
    font-size: medium;
    background-color: beige;
}

ul .list-group-item {
    border-radius: 0px 0px 0px 0px !important;
    border: var(--accent) 1px solid;
    margin-top: 10px
}

.accordian-body .list-group-item {
    border-radius: 0% !important;
    border: var(--accent) !important;
    background-color: beige !important;
    color: black !important;
}

/*contact section*/ 

.contact h2 {
    padding: 20px;
    font-size: x-large;
}

.contact-list ul {
    padding-left: 20px;
    font-size: medium;
}

.contact-list ul a {
    text-decoration: none;
    color: black;
}

.contact-list .list-group-item:hover {
    box-shadow: 2px 2px 5px var(--hover);
}

/*footer*/ 

footer {
    background-color: var(--accent);
    text-align: center;
    padding: 20px;
    color: white;
}

footer p {
    font-size: x-large;
    text-shadow: 1px 1px 1px var(--hover);
}

footer a {
    text-decoration: none;
    font-size: medium;
    color: beige;
    padding: 5px;
}

footer a:hover {
    background-color: var(--hover);
}